<!-- Adding header snippet -->

    <%- include('./layout/sidebar.ejs') %>
    <%- include('./layout/header.ejs') %>
        <br>
        <br>

        <div class="ttable">
            
            <table id="t" class="tender-table">
                <thead>
                    <tr class="head">
                        <th>No</th>
                        <th>Details</th>
                        <th>Advertise</th>
                        <th>Closing</th>
                        <th>Document</th>
                    </tr>

                </thead>

                <tbody>

                    <%result.forEach(t=>{%>
                        <tr>
                            <th>
                                <%=t.no%>
                            </th>
                            <th>
                                <%=t.detail%>
                            </th>

                            <th>
                                <% ad = t.advertise_date; %>
                                <% ad1 = ad.toString().indexOf('T'); %>
                                <% ad2 = ad.toString().substring(0,ad1); %>

                                <% adDate = ad2; %>
                                <% console.log(adDate); %>
                                
                                <%=t.advertise_date%>
                                
                            

                            </th>
                            <th>
                                <%=t.closing_date%>
                            </th>
                            <th>
                                <%=t.document%>
                            </th>
                        </tr>
                        <%});%>
                </tbody>
            </table>
        </div>


</body>

</html>
