<!-- Adding header snippet -->

    <%- include('./layout/sidebar.ejs') %>
    <%- include('./layout/header.ejs') %>
        <br>
        <br>

        <div class="tablediv">
            <div class="table">
                <div class="table-responsive">
            <table id="t" align="center" class="t">
                <thead>
                    <tr class="head">
                        <th>No</th>
                        <th>Details</th>
                        <th>Advertise</th>
                        <th>Closing</th>
                        <th>Document</th>
                    </tr>

                </thead>

                <tbody>

                    <%result.forEach(t=>{%>
                        <tr>
                            <th>
                                <%=t.no%>
                            </th>
                            <th>
                                <%=t.detail%>
                            </th>

                            <th>
                                <%=t.advertise_date%>
                            </th>
                            <th>
                                <%=t.closing_date%>
                            </th>
                            <th>
                                <a href="<%= t.document %>"> Link</a>
                            </th>
                        </tr>
                        <%});%>
                </tbody>
            </table>
      
</div>
</div>
</div>

<div align="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="/tenders?page=1">1</a>
        <a href="/tenders?page=2">2</a>
        <a href="/tenders?page=3">3</a>
        <a href="/tenders?page=4">4</a>
        <a href="/tenders?page=5">5</a>
        <a href="/tenders?page=6">6</a>
        <a href="/tenders?page=7">7</a>
        <a href="/tenders?page=8">8</a>
        <a href="/tenders?page=9">9</a>
        <a href="/tenders?page=10">10</a>
        <a href="#">&raquo;</a>
    </div>
</div>

</body>

</html>
